<app-main-header></app-main-header>

<ion-content>
  <div class="row row--header">

    <div class="header--content">
      <img style="width: 20%;"
          class="imge"
          src="/assets/images/globeBN.png"
        />
        <div class="header--content__textos">
          <p class="header__title">Mi network</p>
        <p class="header__subtitle">Colaboradores: <span>130</span></p>
        </div>
    </div>
  </div>
  
  <div class="container" style="padding-top: 4vh;">
    <div class="row d-flex justify-content-center">
      <div class="botonera" style="">
        <div class="col-sm-10 col-md-10 col-lg-10" style="margin-top: 2vw;">
          <button type="button" class="btn btn-network">Buscar Amigos</button>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-10" style="margin-top: 6vw;">
          <button type="button" class="btn btn-network">Ver mis amigos</button>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-10" style="margin-top: 6vw;">
          <button type="button" class="btn btn-network">Solicitar colaboración</button>
        </div>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <img src="/assets/images/floatmenu_2.png" />
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" routerLink="/portfolio">
        <img src="/assets/images/portfolio.png" />
      </ion-fab-button>
<!--      <ion-fab-button color="light" routerLink="/network">
        <img src="/assets/images/globe.png" />
      </ion-fab-button>-->
      <ion-fab-button color="light" routerLink="/propiedades">
        <img src="/assets/images/study.png" />
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/clientes">
        <img src="/assets/images/user.png" />
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<app-footer-blue></app-footer-blue>
