<div class="container" style="height: 100vh;">
  <div class="row" style="height: 30vh;background-color: white">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 imgPrincipal">
      <div class="col-sm-12 my-auto" >
        <img class="rounded mx-auto d-block" style="width: 50%" src="/assets/images/logo-BROKTOOL.png">
      </div>
    </div>
  </div>
  <div class="row styleBody">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 textHeader">
      <div class="row_content" >
        <p class="row_content-p">Cierra negocios</p>
        <p class="row_content-p">con un click</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div style="text-align: center!important;">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 align-self-center">
          <div class="form-group">
            <input type="text" class="form-control input__text" placeholder="Email" [(ngModel)]="user.usuario" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control input__text" placeholder="Contraseña" [(ngModel)]="user.password" />
          </div>
          <input class="btn btnBroktool" type="button" value="Ingresar" (click)="login()">
        </div>
      </div>
      <div style="text-align: center!important;">
        <button class="btn btnBroktool" type="button" routerLink="/registro">
          Registrar
        </button>
      </div>
      <div style="text-align: center!important;">
        <p style="color: #67adc9;"  (click)="recuperarPassword()">Olvidé contraseña</p>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <input class="btn btnBroktool" type="button" value="Política de Privacidad" (click)="irPoliticas()" style="margin-top: 2vw;width: 90vw">
      <input class="btn btnBroktool" type="button" value="Términos y Condiciones" (click)="irTerminos()" style="margin-top: 2vw;width: 90vw">
    </div>
  </div>
</div>

<app-footer *ngIf="isKeyboardHide"></app-footer>
