<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button>
    <!-- <a routerLink="/"> -->
    <img src="/assets/images/floatmenu_2.png">
    <!-- </a> -->
  </ion-fab-button>
  <ion-fab-list side="top">
    <ion-fab-button color="light" routerLink="/" ng-reflect-router-link="/">
      <img src="/assets/images/portfolio.png">
    </ion-fab-button>
    <ion-fab-button color="light">
      <a routerLink="/">
        <img src="/assets/images/globe.png">
      </a>
    </ion-fab-button>
    <ion-fab-button color="light">
      <img src="/assets/images/study.png">
    </ion-fab-button>
    <ion-fab-button color="light">
      <img src="/assets/images/user.png">
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>
