<app-main-header></app-main-header>

<ion-content>
  <div class="row row--header">

    <div class="header--content">
      <img style="width: 10%;"
          class="imge"
          src="/assets/images/propiedades.png"
        />
        <div class="header--content__textos">
          <p class="header__title">Mis propiedades</p>
        </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row" style="padding: 1vw;margin-top: 3vw;">
        <div class="col-sm-5 col-md-5 col-5"style="text-align: left; margin-top: 1vw">
          <p class="header__subtitle"><span>{{concretados}}</span> Concretados</p>
        </div>
        <div class="col-sm-5 col-md-5 col-5" style="text-align: left; margin-top: 1vw">
          <p class="header__subtitle"><span>{{filteredpropiedadesRenta.length + filteredpropiedadesVenta.length}}</span> Por concretar</p>
        </div>
        <div class="col-sm-2 col-md-3 col-2" style="text-align: left">
            <ion-icon slot="icon-only" name="add" style="color: #ff7949;font-size: 28px" routerLink="/add-propiedad"></ion-icon>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="botonera" style="">
      <!--  <div class="col-sm-10 col-md-10 col-lg-10" style="margin-top: 2vw;margin-bottom: 2vw">
          <button type="button" class="btn btn-network" routerLink="/add-propiedad">Agregar propiedades</button>
        </div>-->

        <tabset active="0" [justified]="true" style="margin-top: 2vw;margin-bottom: 2vw;text-align: center;    width: 100%;" (change)="cambioTab()">
       <!--   <tab heading="Renta" customClass="customClass">
            <div class="container">
              <div class="row" style="min-width: 90vw">
                <a *ngFor="let propiedad of filteredpropiedadesRenta" (click)="verPropiedad(propiedad,$event)" style="width: 96vw;margin-left: 2vw;">
                  <ion-item *ngIf="propiedad.tipo=='Renta'">
                    <ion-thumbnail slot="start">
                      <img src="/assets/images/study.png">
                    </ion-thumbnail>
                    <ion-label>
                      <h2 style="text-transform: capitalize">{{propiedad.nombre}}</h2>
                      <p>{{propiedad.direccion}}</p>
                      <p>{{propiedad.precio | currency}}</p>
                    </ion-label>
                    <ion-button slot="end" routerLink="/editar-propiedad" style="width: 12vw;height: 10vw;" (click)="asignarPropiedadAEditar(propiedad,$event)" >
                      <ion-icon slot="icon-only" name="create"></ion-icon>
                    </ion-button>
                    <ion-button slot="end" style="width: 12vw;height: 10vw;" (click)="archivarPropiedad(propiedad,$event)">
                      <ion-icon slot="icon-only" name="archive"></ion-icon>
                    </ion-button>
                  </ion-item>
                </a>
                <ion-item *ngIf="filteredpropiedadesRenta.length==0"  style="padding: 5vw">
                  <ion-avatar slot="start">
                    <img src="/assets/images/study.png">
                  </ion-avatar>
                  &lt;!&ndash; <ion-thumbnail slot="start">
                     <img src="/assets/images/clientes.png">
                   </ion-thumbnail>&ndash;&gt;
                  <div class="row">
                    <div class="col-12">
                      <ion-label>
                        <h2 style="white-space: normal;">Aún no se tienen registros para este concepto</h2>
                      </ion-label>
                    </div>
                  </div>
                </ion-item>
              </div>
            </div>
          </tab>-->
          <!--<tab heading="Renta" customClass="customClass">
            <div class="container">
              <div class="row">
                <ion-list>
                  <ion-item-sliding *ngFor="let propiedad of filteredpropiedadesRenta">
                    <ion-item style="padding: 1vw" (click)="verPropiedad(propiedad,$event)">
                      <ion-avatar slot="start">
                        <img src="/assets/images/study.png">
                      </ion-avatar>
                      <div class="row" style="width: 90%">
                          <div class="col-8">
                            <ion-label>
                              <h2 style="text-transform: capitalize">{{propiedad.nombre}}</h2>
                              <p *ngIf="propiedad.direccion!=''">{{propiedad.direccion}}</p>
                              <p *ngIf="propiedad.direccion==''">Sin dirección registrada</p>
                              <p>{{propiedad.precio | currency}}</p>
                            </ion-label>
                          </div>
                          <div class="col-4" style="text-align: right">
                            <ion-button style="width: 12vw;height: 10vw;" (click)="asignarPropiedadAEditar(propiedad,$event)" >
                              <ion-icon slot="icon-only" name="create"></ion-icon>
                            </ion-button>
                            <ion-button style="width: 12vw;height: 10vw;" (click)="archivarPropiedad(propiedad,$event)">
                              <ion-icon slot="icon-only" name="archive"></ion-icon>
                            </ion-button>
                          </div>
                        </div>
                    </ion-item>
                  </ion-item-sliding>
                  <ion-item-sliding *ngIf="filteredpropiedadesRenta.length==0" >
                    <ion-item style="padding: 5vw">
                      <ion-avatar slot="start">
                        <img src="/assets/images/study.png">
                      </ion-avatar>
                      &lt;!&ndash; <ion-thumbnail slot="start">
                         <img src="/assets/images/clientes.png">
                       </ion-thumbnail>&ndash;&gt;
                      <div class="row">
                        <div class="col-12">
                          <ion-label>
                            <h2 style="white-space: normal;">Aún no se tienen registros para este concepto</h2>
                          </ion-label>
                        </div>
                      </div>
                    </ion-item>
                  </ion-item-sliding>
                </ion-list>
              </div>
            </div>
          </tab>-->
          <tab heading="Renta" customClass="customClass">
            <div class="container">
              <div class="row">
                <ion-list style="width: 100%;">
                  <ion-item-sliding *ngFor="let propiedad of filteredpropiedadesRenta">
                    <ion-item style="padding: 1vw" (click)="verPropiedad(propiedad,$event)">
                      <ion-avatar slot="start">
                        <img src="/assets/images/study.png">
                      </ion-avatar>
                      <div class="row" style="width: 100%">
                        <div class="col-7" style="padding-right: 0px">
                          <ion-label>
                            <h2 style="text-transform: capitalize" *ngIf="propiedad.nombre.length<=20">{{propiedad.nombre}}</h2>
                            <h2 style="text-transform: capitalize" *ngIf="propiedad.nombre.length>20">{{propiedad.nombre.substring(0,20)}}...</h2>

                            <h4 style="text-transform: capitalize" *ngIf="propiedad.direccion!=''&&propiedad.direccion.length<=20">{{propiedad.direccion}}</h4>
                            <h4 style="text-transform: capitalize" *ngIf="propiedad.direccion!=''&&propiedad.direccion.length>20">{{propiedad.direccion.substring(0,20)}}...</h4>
                            <p *ngIf="propiedad.direccion==''">Sin dirección</p>
                            <p>{{propiedad.precio | currency}}</p>
                          </ion-label>
                        </div>
                        <div class="col-5" style="text-align: right; padding: 0px">
                          <ion-button style="width: 12vw;height: 10vw;" (click)="openTelefono(propiedad.celular,$event)">
                            <ion-icon slot="icon-only" name="call"></ion-icon>
                          </ion-button>
                          <ion-button style="width: 12vw;height: 10vw;" (click)="openWhatsapp(propiedad.celular,propiedad.nombre,$event)">
                            <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
                          </ion-button>
                          <ion-button routerLink="/editar-propiedad" style="width: 12vw;height: 10vw;" (click)="asignarPropiedadAEditar(propiedad,$event)" >
                            <ion-icon slot="icon-only" name="create"></ion-icon>
                          </ion-button>
                          <ion-button style="width: 12vw;height: 10vw;" (click)="archivarPropiedad(propiedad,$event)">
                            <ion-icon slot="icon-only" name="archive"></ion-icon>
                          </ion-button>
                        </div>
                      </div>
                    </ion-item>
                  </ion-item-sliding>
                  <ion-item-sliding *ngIf="filteredpropiedadesRenta.length==0" >
                    <ion-item style="padding: 5vw">
                      <ion-avatar slot="start">
                        <img src="/assets/images/study.png">
                      </ion-avatar>
                      <!-- <ion-thumbnail slot="start">
                         <img src="/assets/images/clientes.png">
                       </ion-thumbnail>-->
                      <div class="row">
                        <div class="col-12">
                          <ion-label>
                            <h2 style="white-space: normal;">Aún no se tienen registros para este concepto</h2>
                          </ion-label>
                        </div>
                      </div>
                    </ion-item>
                  </ion-item-sliding>
                </ion-list>
              </div>
            </div>
          </tab>
          <tab heading="Venta" customClass="customClass">
            <div class="container">
              <div class="row">
                <ion-list style="width: 100%;">
                  <ion-item-sliding *ngFor="let propiedad of filteredpropiedadesVenta">
                    <ion-item style="padding: 1vw" (click)="verPropiedad(propiedad,$event)">
                      <ion-avatar slot="start">
                        <img src="/assets/images/study.png">
                      </ion-avatar>
                      <div class="row" style="width: 100%">
                          <div class="col-7" style="padding-right: 0px">
                            <ion-label>
                              <h2 style="text-transform: capitalize" *ngIf="propiedad.nombre.length<=20">{{propiedad.nombre}}</h2>
                              <h2 style="text-transform: capitalize" *ngIf="propiedad.nombre.length>20">{{propiedad.nombre.substring(0,20)}}...</h2>
                              <h4 style="text-transform: capitalize" *ngIf="propiedad.direccion!=''&&propiedad.direccion.length<=20">{{propiedad.direccion}}</h4>
                              <h4 style="text-transform: capitalize" *ngIf="propiedad.direccion!=''&&propiedad.direccion.length>20">{{propiedad.direccion.substring(0,20)}}...</h4>
                              <p *ngIf="propiedad.direccion==''">Sin dirección</p>
                              <p>{{propiedad.precio | currency}}</p>
                            </ion-label>
                          </div>
                          <div class="col-5" style="text-align: right;padding: 0px">
                            <ion-button style="width: 12vw;height: 10vw;" (click)="openTelefono(propiedad.celular,$event)">
                              <ion-icon slot="icon-only" name="call"></ion-icon>
                            </ion-button>
                            <ion-button style="width: 12vw;height: 10vw;" (click)="openWhatsapp(propiedad.celular,propiedad.nombre,$event)">
                              <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
                            </ion-button>
                            <ion-button routerLink="/editar-propiedad" style="width: 12vw;height: 10vw;" (click)="asignarPropiedadAEditar(propiedad,$event)" >
                              <ion-icon slot="icon-only" name="create"></ion-icon>
                            </ion-button>
                            <ion-button style="width: 12vw;height: 10vw;" (click)="archivarPropiedad(propiedad,$event)">
                              <ion-icon slot="icon-only" name="archive"></ion-icon>
                            </ion-button>
                          </div>
                        </div>
                    </ion-item>
                  </ion-item-sliding>
                  <ion-item-sliding *ngIf="filteredpropiedadesVenta.length==0" >
                    <ion-item style="padding: 5vw">
                      <ion-avatar slot="start">
                        <img src="/assets/images/study.png">
                      </ion-avatar>
                      <!-- <ion-thumbnail slot="start">
                         <img src="/assets/images/clientes.png">
                       </ion-thumbnail>-->
                      <div class="row">
                        <div class="col-12">
                          <ion-label>
                            <h2 style="white-space: normal;">Aún no se tienen registros para este concepto</h2>
                          </ion-label>
                        </div>
                      </div>
                    </ion-item>
                  </ion-item-sliding>
                </ion-list>
              </div>
            </div>
          </tab>
        </tabset>


     <!--   <div class="col-sm-10 col-md-10 col-lg-10" style="margin-top: 6vw;">
          <button type="button" class="btn btn-network" routerLink="/mis-propiedades">Mis propiedades</button>
        </div>-->
     <!--   <div class="col-sm-10 col-md-10 col-lg-10" style="margin-top: 6vw;">
          <button type="button" class="btn btn-network">Solicitar colaboración</button>
        </div>-->
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 align-self-center">
    <div class="form-group">
      <input
              routerLink="/propiedades-archivadas"
              type="button"
              class="form-control"
              value="Ver propiedades archivadas"
      />
    </div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <img src="/assets/images/floatmenu_2.png" />
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" routerLink="/portfolio">
        <img src="/assets/images/portfolio.png" />
      </ion-fab-button>
<!--      <ion-fab-button color="light" routerLink="/network">
        <img src="/assets/images/globe.png" />
      </ion-fab-button>-->
      <ion-fab-button color="light" routerLink="/propiedades">
        <img src="/assets/images/study.png" />
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/clientes">
        <img src="/assets/images/user.png" />
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<app-footer-blue></app-footer-blue>

