<app-main-header></app-main-header>

<ion-content>
  <div class="container">
    <div class="row" class="container--subHeader">
      <p class="sub-Header">
        <ion-icon size="large" name="arrow-back" style="float: left;" routerLink="/propiedades"></ion-icon>{{propiedad.tipo}}
      </p>
    </div>
    <div class="row">
      <ion-item>
        <ion-thumbnail slot="start">
          <img *ngIf="propiedad.tipo=='Renta'" src="/assets/images/renta1.png">
          <img *ngIf="propiedad.tipo=='Venta'" src="/assets/images/renta2.png">
        </ion-thumbnail>
        <ion-label>
          <h2 style="text-transform: capitalize">{{propiedad.nombre}}</h2>
          <p>{{propiedad.direccion}} - {{propiedad.referencia}}</p>
        </ion-label>
      </ion-item>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12" style="display: flex;">
        <div class="container--titulo-section">
          <p class="container--letter-section">
            P</p>
        </div>
      </div>
      <div class="col-12" style="display: flex;">
        <div class="container--text-section">
          <p>
            Promoción de la propiedad</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-top: 5vw;">
      <div class="col-3" routerLink="/detalles-casa">
        <div class="container--titulo-section--menu" style="background-color: #67adc9">
          <p class="container--letter-section--menu">
            C</p>
        </div>
      </div>
      <div class="col-3" routerLink="/interes-casa">
        <div class="container--titulo-section--menu" style="background-color: #fcb686">
          <p class="container--letter-section--menu">
            I</p>
        </div>
      </div>
      <div class="col-3" routerLink="/firma-casa">
        <div class="container--titulo-section--menu" style="background-color: #80d8ae">
          <p class="container--letter-section--menu">
            F</p>
        </div>
      </div>
      <div class="col-3" routerLink="/entrega-casa">
        <div class="container--titulo-section--menu" style="background-color: #56c1be">
          <p class="container--letter-section--menu">
            E</p>
        </div>
      </div>
    </div>
  </div>

  <ion-grid style="margin-bottom: 15%; margin-top: 15px;">
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <!-- Sliding item with text options on both sides -->
          <ion-item-sliding>

            <ion-item>
              <ion-checkbox (ionChange)="updateEval()" [(ngModel)]="propiedad.eval_p.promocion"></ion-checkbox>
              <ion-label style="margin-left: 10px;">
                <h2>Promoción</h2>
                <!--<p>Agrega tus publicaciones en los portales,</p>
                <p>CRM que tengas contratados</p>-->
              </ion-label>
              <ion-note slot="end">
                << arrastra
              </ion-note>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>
                <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="information" (click)="verInfo('Promoción','Agrega tus publicaciones en los portales y/o CRM que tengas contratados.')"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

<!--          <ion-item-sliding>

            <ion-item>
              <ion-checkbox  (ionChange)="updateEval()" [(ngModel)]="propiedad.eval_p.ficha_promocional"></ion-checkbox>
              <ion-label style="margin-left: 10px;">
                <h2>Ficha promocional</h2>
                &lt;!&ndash;<p>Promo Whatsapp</p>&ndash;&gt;
              </ion-label>
              <ion-note slot="end">
                << arrastra
              </ion-note>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>
                <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="information" (click)="verInfo('Ficha promocional','Promo Whatsapp')"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>-->

          <ion-item-sliding>

            <ion-item>
              <ion-checkbox  (ionChange)="updateEval()" [(ngModel)]="propiedad.eval_p.chat_redes"></ion-checkbox>
              <ion-label style="margin-left: 10px;">
                <h2>Chats y Redes</h2>
               <!-- <p>Enviar 2-3 veces por semana tus</p>
                <p>promos por whatsapp</p>-->
              </ion-label>
              <ion-note slot="end">
                << arrastra
              </ion-note>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>
                <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="information" (click)="verInfo('Chats y Redes','Enviar 2-3 veces por semana tus promos por whatsapp')"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>

            <ion-item>
              <ion-checkbox (ionChange)="updateEval()" [(ngModel)]="propiedad.eval_p.leads"></ion-checkbox>
              <ion-label style="margin-left: 10px;">
                <h2>Leads</h2>
               <!-- <p>Mensaje de seguimiento</p>-->
              </ion-label>
              <ion-note slot="end">
                << arrastra
              </ion-note>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>
                <ion-icon slot="icon-only" name="keypad"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="information" (click)="verInfo('Leads','Envia mensaje de seguimiento a clientes o asesores.')"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>

            <ion-item>
              <ion-checkbox (ionChange)="updateEval()" [(ngModel)]="propiedad.eval_p.citas"></ion-checkbox>
              <ion-label style="margin-left: 10px;">
                <h2>Citas</h2>
            <!--    <p>Enviar ficha o link, agendar con recordatorio</p>
                <p>Con cliente y propietario</p>-->
              </ion-label>
              <ion-note slot="end">
                << arrastra
              </ion-note>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>
                <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="calendar" ></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="bulb"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="information" (click)="verInfo('Citas','Envia ficha o link, agenda con recordatorio. A cliente / asesor y propietario.')"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>

          <ion-item-sliding>

            <ion-item>
              <ion-checkbox  (ionChange)="updateEval()" [(ngModel)]="propiedad.eval_p.informe"></ion-checkbox>
              <ion-label style="margin-left: 10px;">
                <h2>Informe</h2>
               <!-- <p>Informe y agradecimiento</p>-->
              </ion-label>
              <ion-note slot="end">
                << arrastra
              </ion-note>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>
                <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="bulb"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="information" (click)="verInfo('Informe','Enviar informe y agradecimiento')"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

        </ion-list>

      </ion-col>
    </ion-row>
    <div class="col-9 col-sm-9 col-md-9 col-lg-9 align-self-center">
      <div class="form-group">
        <input
                type="button"
                class="form-control button__siguiente"
                value="No se concretó la operación"
                (click)="cancelarPropiedad()"
        />
      </div>
    </div>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <img src="/assets/images/floatmenu_2.png" />
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" routerLink="/portfolio">
        <img src="/assets/images/portfolio.png" />
      </ion-fab-button>
<!--      <ion-fab-button color="light" routerLink="/network">
        <img src="/assets/images/globe.png" />
      </ion-fab-button>-->
      <ion-fab-button color="light" routerLink="/propiedades">
        <img src="/assets/images/study.png" />
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/clientes">
        <img src="/assets/images/user.png" />
      </ion-fab-button>
    </ion-fab-list>
   <!-- <ion-fab-list side="start">
      <ion-fab-button color="light" routerLink="/entrega-casa">
        <img src="/assets/images/entrega.png" />
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/firma-casa">
        <img src="/assets/images/firma.png" />
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/interes-casa">
        <img src="/assets/images/interes.png" />
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/promocion-casa">
        <img src="/assets/images/promocion.png" />
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/detalles-casa">
        <img src="/assets/images/captacion.png" />
      </ion-fab-button>
    </ion-fab-list>-->
  </ion-fab>

</ion-content>



<app-footer-blue></app-footer-blue>
