<div class="modal-header modal-header-primary">
    <h3>Ver Usuario</h3>
</div>
<div class="modal-body">
    <form ng-submit="editarUsuario()" name="form" role="form">
        <div class="modal-body">
            <div class="row my-panel">
                <label>Email:</label>
                <input type="text" class="form-control" ng-model="usuario.email"/>
                <label>Contraseña:</label>
                <input type="password" class="form-control" ng-model="usuario.pass"/>
                <label>Confirmar Contraseña:</label>
                <input type="password" class="form-control" ng-model="usuario.pass2"/>
            <!--    <h4>Permisos</h4>
                <div class="btn-group">
                    <label class="btn btn-primary btn-sm" ng-model="checkModel.usuario" uib-btn-checkbox>Usuario</label>
                    <label class="btn btn-primary btn-sm" ng-model="checkModel.admin" uib-btn-checkbox>Admin</label>
                    <label class="btn btn-primary btn-sm" ng-model="checkModel.superadmin" uib-btn-checkbox>SuperAdmin</label>
                </div>-->
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
            <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-upload"></span>
                Guardar
            </button>
        </div>
    </form>
</div>
