.my-panel{
    border: solid 1px grey;
    border-radius: 10px;
    padding: 2%;
    margin: 1%;
}

.no_pass{
    color: red;
}

.pass{
    color: green;
}

.pos_resumen_heading {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: #30426a;
    color: WHITE;
    padding: 5%;
}
.pos_resumen_body {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background-color: WHITE;
    padding: 5%;
}
.card {
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
