<app-main-header></app-main-header>

<ion-content>
  <div class="container">
    <div class="row" class="container--subHeader">
      <p class="sub-Header">
        <ion-icon size="large" name="arrow-back" style="float: left;" routerLink="/propiedades"></ion-icon>{{propiedad.tipo}}
      </p>
    </div>
    <div class="row">
      <ion-item>
        <ion-thumbnail slot="start">
          <img *ngIf="propiedad.tipo=='Renta'" src="/assets/images/renta1.png">
          <img *ngIf="propiedad.tipo=='Venta'" src="/assets/images/renta2.png">
        </ion-thumbnail>
        <ion-label>
          <h2 style="text-transform: capitalize">{{propiedad.nombre}}</h2>
          <p>{{propiedad.direccion}} - {{propiedad.referencia}}</p>
        </ion-label>
      </ion-item>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12" style="display: flex;">
        <div class="container--titulo-section">
          <p class="container--letter-section">
            I</p>
        </div>
      </div>
      <div class="col-12" style="display: flex;">
        <div class="container--text-section">
          <p>
            Interés de la propiedad</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-top: 5vw;">
      <div class="col-3" routerLink="/detalles-casa">
        <div class="container--titulo-section--menu" style="background-color: #67adc9">
          <p class="container--letter-section--menu">
            C</p>
        </div>
      </div>
      <div class="col-3" routerLink="/promocion-casa">
        <div class="container--titulo-section--menu" style="background-color: #b6d3e0">
          <p class="container--letter-section--menu">
            P</p>
        </div>
      </div>

      <div class="col-3" routerLink="/firma-casa">
        <div class="container--titulo-section--menu" style="background-color: #80d8ae">
          <p class="container--letter-section--menu">
            F</p>
        </div>
      </div>
      <div class="col-3" routerLink="/entrega-casa">
        <div class="container--titulo-section--menu" style="background-color: #56c1be">
          <p class="container--letter-section--menu">
            E</p>
        </div>
      </div>
    </div>
  </div>

  <ion-grid style="margin-bottom: 15%; margin-top: 15px;">
    <ion-row>
      <ion-col size="12">
        <ion-list>

          <ion-item-sliding>

            <ion-item>
              <ion-checkbox (ionChange)="updateEval()" [(ngModel)]="propiedad.eval_i.oferta"></ion-checkbox>
              <ion-label style="margin-left: 10px;">
                <h2>Oferta</h2>
                <!--<p>Recibo de anticipo, Cheque de resguardo</p>
                <p>o anticipo</p>-->
              </ion-label>
              <ion-note slot="end">
                << arrastra
              </ion-note>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>
                <ion-icon slot="icon-only" name="bulb"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="cloud-download"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="calendar"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="information" (click)="verInfo('Oferta','Logra oferta por escrito, junto con su apartado (anticipo o cheque de resguardo).')"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding *ngIf="propiedad.tipo=='Renta'">

            <ion-item>
              <ion-checkbox (ionChange)="updateEval()" [(ngModel)]="propiedad.eval_i.documentacion_cliente"></ion-checkbox>
              <ion-label style="margin-left: 10px;">
                <h2>Documentación del cliente</h2>
                <!--<p>Solicitar datos del interesado y conocer</p>
                <p>si cuenta con fiador/aval/póliza jurídica</p>-->
              </ion-label>
              <ion-note slot="end">
                << arrastra
              </ion-note>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>
                <ion-icon slot="icon-only" name="logo-whatsapp"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="information" (click)="verInfo('Documentación del cliente','Solicita documentos para investigación y conoce si cuenta con fiador/aval/póliza jurídica/mediación.')"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding>

            <ion-item>
              <ion-checkbox (ionChange)="updateEval()" [(ngModel)]="propiedad.eval_i.contrato"></ion-checkbox>
              <ion-label style="margin-left: 10px;">
                <h2>Contrato</h2>
                <!--<p>Enviarlo a los involucrados para</p>
                <p>su revisión.</p>-->
              </ion-label>
              <ion-note slot="end">
                << arrastra
              </ion-note>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>
                <ion-icon slot="icon-only" name="send"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="information" (click)="verInfo('Contrato','Enviarlo a los involucrados para su revisión y establecer fecha de firma. Hacer inventario si la propiedad está amueblada.')"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding *ngIf="propiedad.tipo=='Venta'">

            <ion-item>
              <ion-checkbox (ionChange)="updateEval()" [(ngModel)]="propiedad.eval_i.seguimiento_banco_notaria"></ion-checkbox>
              <ion-label style="margin-left: 10px;">
                <h2>Seguimiento con Banco o Notaría</h2>
              <!--  <p>En caso de no contar con aval,</p>
                <p>sugerir contratación de Póliza Juridica.</p>-->
              </ion-label>
              <ion-note slot="end">
                << arrastra
              </ion-note>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>
                <ion-icon slot="icon-only" name="send"></ion-icon>
              </ion-item-option>
              <ion-item-option>
                <ion-icon slot="icon-only" name="information" (click)="verInfo('Seguimiento con Banco o Notaría','Da seguimiento necesario con el Banco (en caso de Crédito Hipotecario), y con la Notaria: para el avalúo y la escrituración.')"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>

          <ion-item-sliding *ngIf="propiedad.tipo=='Venta'">

            <ion-item>
              <ion-checkbox (ionChange)="updateEval()" [(ngModel)]="propiedad.eval_i.avaluo"></ion-checkbox>
              <ion-label style="margin-left: 10px;">
                <h2>Avalúo</h2>
               <!-- <p>Si es amueblado</p>-->
              </ion-label>
              <ion-note slot="end">
                << arrastra
              </ion-note>
            </ion-item>
            <ion-item-options side="end">
<!--              <ion-item-option>
                <ion-icon slot="icon-only" name="open"></ion-icon>
              </ion-item-option>-->
              <ion-item-option>
                <ion-icon slot="icon-only" name="information" (click)="verInfo('Avalúo','Atención a valuador')"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>

        </ion-list>

      </ion-col>
    </ion-row>
    <div class="col-9 col-sm-9 col-md-9 col-lg-9 align-self-center">
      <div class="form-group">
        <input
                type="button"
                class="form-control button__siguiente"
                value="No se concretó la operación"
                (click)="cancelarPropiedad()"
        />
      </div>
    </div>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <img src="/assets/images/floatmenu_2.png" />
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" routerLink="/portfolio">
        <img src="/assets/images/portfolio.png" />
      </ion-fab-button>
<!--      <ion-fab-button color="light" routerLink="/network">
        <img src="/assets/images/globe.png" />
      </ion-fab-button>-->
      <ion-fab-button color="light" routerLink="/propiedades">
        <img src="/assets/images/study.png" />
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/clientes">
        <img src="/assets/images/user.png" />
      </ion-fab-button>
    </ion-fab-list>
 <!--   <ion-fab-list side="start">
      <ion-fab-button color="light" routerLink="/entrega-casa">
        <img src="/assets/images/entrega.png" />
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/firma-casa">
        <img src="/assets/images/firma.png" />
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/interes-casa">
        <img src="/assets/images/interes.png" />
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/promocion-casa">
        <img src="/assets/images/promocion.png" />
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/detalles-casa">
        <img src="/assets/images/captacion.png" />
      </ion-fab-button>
    </ion-fab-list>-->
  </ion-fab>

</ion-content>



<app-footer-blue></app-footer-blue>
